<div class="auth-content">
    <div class="first-underlay"></div>
    <div class="second-underlay"></div>
    <div class="auth-form">
        <div class="content">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Sign In">
                    <div class="tab-content-underlay">
                        <div class="tab-content-signin">
                            <login></login>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Sign Up">
                    <div class="tab-content-underlay">
                        <div class="tab-content-signout">
                            <register></register>
                        </div>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>