<div class="content">
    <div class="title">
        <h2>Register new account</h2>
    </div>
    <div class="input email" style="margin-top:-15px;">
            <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input matInput placeholder="Stefan Voinea">
            </mat-form-field>
        </div>
    <div class="input email">
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. stefan@example.com">
        </mat-form-field>
    </div>
    <div class="input password">
        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="input password">
        <mat-form-field class="full-width">
            <mat-label>Confirm password</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="input actions">
        <div class="one">
            <button mat-raised-button color="primary">Register</button>
        </div>
    </div>
</div>