<div class="category-content">
    <div class="category-meta">
        <div class="code">
            F22
        </div>
        <div class="name">
            No move on the shoulders habarnam
        </div>
        <div class="points">
            <div class="icon">
                <i class="material-icons">
                    star
                </i>
            </div>
            <div class="value">
                <span>0.4</span>
            </div>
        </div>
    </div>
    <div class="category-data">
        <div class="category-picture">
            <div class="picture">
                <div class="pic">

                </div>
            </div>
        </div>
        <div class="category-details">
            <div class="details-row">
                <span class="label">- Hold the position:</span>
                <span class="value"> a minimum 2 seconds</span>
            </div>
            <div class="details-row">
                <span class="label">- Points of contact are:</span>
                <span class="value">inside arm, inside leg, foot outside leg</span>
            </div>
            <div class="details-row">
                <span class="label">- Arm position is:</span>
                <span class="value">outside arm, in fixed position of choice. No hand contact with the pole</span>
            </div>
            <div class="details-row">
                <span class="label">- Grip is:</span>
                <span class="value">elbow grip</span>
            </div>
            <div class="details-row">
                <span class="label">- Leg position is:</span>
                <span class="value">both legs are fully extended in split position</span>
            </div>
            <div class="details-row">
                <span class="label">- Body position is:</span>
                <span class="value">inverted</span>
            </div>
            <div class="details-row">
                <span class="label">- Angle if split is:</span>
                <span class="value">a minimum of 160</span>
            </div>
        </div>
    </div>
</div>