<div class="app-footer-menu">
    <div class="content">
        <div class="footer-icons-left">
            <div>
                Icons here
            </div>
        </div>
        <div class="footer-details">
            Copyright © 2020 All Rights Reserved <br/> This application was created in collaboration with <a
                href="http://www.pole-fitness.ro/">RF PoleFitness</a>
        </div>
        <div class="footer-icons-right">
            <div>
                Icons here
            </div>
        </div> 
    </div>
</div>