.content{
    width:100%;
    height:100%;
}

.content .footer-details {
    text-align:center;
    float:left;
}

.content .footer-icons-left {
    float:left;
}

.content .footer-icons-right {
    float:left;
}