<form class="content">
    <div class="icon-and-details">
        <div class="icon">
            <i class="material-icons">
                person
            </i>
        </div>
        <div class="details">
            <div class="prim">
                Login In
            </div>
            <div class="sec">
                login here using your email and password
            </div>
        </div>
    </div>
    <div class="input email">
        <mat-form-field class="full-width">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Ex. pat@example.com">
        </mat-form-field>
    </div>
    <div class="input password">
        <mat-form-field class="full-width">
            <mat-label>Password</mat-label>
            <input matInput>
        </mat-form-field>
    </div>
    <div class="input actions">
        <div class="one">
            <button mat-raised-button color="primary">Login</button>
        </div>
    </div>
    <div class="input actions social-networks">
        <div class="two-equal">
            <button mat-raised-button color="primary">Google</button>
        </div>
        <div class="two-equal">
            <button mat-raised-button color="primary">Facebook</button>
        </div>
    </div>
</form>