@import "styles-master";

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$PoleFitness-primary: mat-palette($mat-indigo);
$PoleFitness-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$PoleFitness-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$PoleFitness-theme: mat-light-theme($PoleFitness-primary, $PoleFitness-accent, $PoleFitness-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($PoleFitness-theme);

body{
    margin:0px;
    overflow:hidden;
}

.app{
    height:100vh;
    background: white;
}

.app-toolbar{
    height: 80px;
    width: 100%;
    position: relative;
    background: $primary;
    top: 0;
    color: $primaryColor;
    left: 0;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
}

.app-content{
    height:calc(100% - 133px);
    position: relative;
    overflow: auto;
}

.app-footer-menu{
    height:50px;
    width:100%;
    position: relative;
    bottom:0;
    left:0;
    box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);

    background:$primary;
    color: $primaryColor;
}

.side-bottom-menu{
    position:absolute;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.categories .mat-figure {
    display: block !important; 
}
