<div class="app-toolbar">
    <div class="content">
        <div class="burger-menu">
            <div class="burger" (click)="showHideMenu()">
                <i class="material-icons">
                    {{workspaceService.workspaceState.showMenu ? 'menu_open' : 'menu' }}
                </i>
            </div>
        </div>
        <div class="toolbar">
            Welcome, Stefan-Madalin Popescu
        </div>
        <div class="logo">
            <div>
            </div>
        </div>
    </div>
</div>